################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/backend/.vs
/src/backend/PaperTrail.Api/bin/Debug
/src/backend/PaperTrail.Model.Login/bin/Debug/net8.0
/src/backend/PaperTrail.Model.Login/obj
/src/backend/PaperTrail.Storage/bin/Debug/net8.0
/src/backend/PaperTrail.Storage/obj
/src/backend/PaperTrail.Utilities/bin/Debug/net8.0
/src/backend/PaperTrail.Utilities/obj
/src/backend/PaperTrail.Api/obj/Debug/net8.0/ref/PaperTrail.Api.dll
/src/backend/PaperTrail.Api/obj/Debug/net8.0/refint/PaperTrail.Api.dll
/src/backend/PaperTrail.Api/obj/Debug/net8.0/apphost.exe
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.AssemblyInfo.cs
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.AssemblyInfoInputs.cache
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.assets.cache
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.csproj.AssemblyReference.cache
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.csproj.CoreCompileInputs.cache
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.csproj.FileListAbsolute.txt
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.dll
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.GeneratedMSBuildEditorConfig.editorconfig
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.genruntimeconfig.cache
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.pdb
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.sourcelink.json
/src/backend/PaperTrail.Api/obj/PaperTrail.Api.csproj.nuget.dgspec.json
/src/backend/PaperTrail.Api/obj/PaperTrail.Api.csproj.nuget.g.props
/src/backend/PaperTrail.Api/obj/project.assets.json
/src/backend/PaperTrail.Api/obj/project.nuget.cache
/src/backend/PaperTrail.Model.Manager/bin/Debug/net8.0
/src/backend/PaperTrail.Model.Manager/obj
/src/backend/PaperTrail.Module.Blog/bin/Debug/net8.0
/src/backend/PaperTrail.Module.Blog/obj
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.MvcApplicationPartsAssemblyInfo.cs
/src/backend/PaperTrail.Module.Login/bin/Debug/net8.0
/src/backend/PaperTrail.Module.Login/obj
/src/backend/PaperTrail.Module.Bloger/bin/Debug/net8.0
/src/backend/PaperTrail.Module.Bloger/obj
/src/backend/PaperTrail.Storage/bin/Release/net8.0
/src/backend/PaperTrail.Utilities/bin/Release/net8.0
/src/backend/PaperTrail.Api/bin/Release/net8.0/linux-x64/libSkiaSharp.so
/src/backend/PaperTrail.Api/bin/Release/net8.0/linux-x64/libSkiaSharp.so.116.0.0
/src/backend/PaperTrail.Api/bin/Release/net8.0/linux-x64/PaperTrail.Api
/src/backend/PaperTrail.Api/bin/Release/net8.0/linux-x64/PaperTrail.Api.deps.json
/src/backend/PaperTrail.Api/bin/Release/net8.0/linux-x64/PaperTrail.Api.dll
/src/backend/PaperTrail.Api/bin/Release/net8.0/linux-x64/PaperTrail.Api.pdb
/src/backend/PaperTrail.Api/bin/Release/net8.0/linux-x64/PaperTrail.Storage.dll
/src/backend/PaperTrail.Api/bin/Release/net8.0/linux-x64/PaperTrail.Storage.pdb
/src/backend/PaperTrail.Api/bin/Release/net8.0/linux-x64/PaperTrail.Utilities.dll
/src/backend/PaperTrail.Api/bin/Release/net8.0/linux-x64/PaperTrail.Utilities.pdb
/src/backend/PaperTrail.Api/bin/Release/net8.0/linux-x64/Si.CoreHub.dll
/src/backend/PaperTrail.Api/bin/Release/net8.0/runtimes/linux-arm/native
/src/backend/PaperTrail.Api/bin/Release/net8.0/runtimes
/src/backend/PaperTrail.Api/bin/Release/net8.0/PaperTrail.Api.deps.json
/src/backend/PaperTrail.Api/bin/Release/net8.0/PaperTrail.Api.dll
/src/backend/PaperTrail.Api/bin/Release/net8.0/PaperTrail.Api.exe
/src/backend/PaperTrail.Api/bin/Release/net8.0/PaperTrail.Api.pdb
/src/backend/PaperTrail.Api/bin/Release/net8.0/PaperTrail.Api.runtimeconfig.json
/src/backend/PaperTrail.Api/bin/Release/net8.0/PaperTrail.Storage.dll
/src/backend/PaperTrail.Api/bin/Release/net8.0/PaperTrail.Storage.pdb
/src/backend/PaperTrail.Api/bin/Release/net8.0/PaperTrail.Utilities.dll
/src/backend/PaperTrail.Api/bin/Release/net8.0/PaperTrail.Utilities.pdb
/src/backend/PaperTrail.Api/bin/Release/net8.0/Si.CoreHub.dll
/src/backend/PaperTrail.Api/bin/Release/publish/libSkiaSharp.so
/src/backend/PaperTrail.Api/bin/Release/publish/libSkiaSharp.so.116.0.0
/src/backend/PaperTrail.Api/bin/Release/publish/PaperTrail.Api
/src/backend/PaperTrail.Api/bin/Release/publish/PaperTrail.Api.deps.json
/src/backend/PaperTrail.Api/bin/Release/publish/PaperTrail.Api.dll
/src/backend/PaperTrail.Api/bin/Release/publish/PaperTrail.Api.pdb
/src/backend/PaperTrail.Api/bin/Release/publish/PaperTrail.Storage.dll
/src/backend/PaperTrail.Api/bin/Release/publish/PaperTrail.Storage.pdb
/src/backend/PaperTrail.Api/bin/Release/publish/PaperTrail.Utilities.dll
/src/backend/PaperTrail.Api/bin/Release/publish/PaperTrail.Utilities.pdb
/src/backend/PaperTrail.Api/bin/Release/publish/Si.CoreHub.dll
/src/backend/PaperTrail.Api/obj/publish/linux-x64/PaperTrail.Api.csproj.nuget.dgspec.json
/src/backend/PaperTrail.Api/obj/publish/linux-x64/PaperTrail.Api.csproj.nuget.g.props
/src/backend/PaperTrail.Api/obj/publish/linux-x64/project.assets.json
/src/backend/PaperTrail.Api/obj/publish/linux-x64/project.nuget.cache
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PubTmp/Out/appsettings.json
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PubTmp/Out/libSkiaSharp.so
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PubTmp/Out/libSkiaSharp.so.116.0.0
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PubTmp/Out/PaperTrail.Api
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PubTmp/Out/PaperTrail.Api.deps.json
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PubTmp/Out/PaperTrail.Api.dll
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PubTmp/Out/PaperTrail.Api.pdb
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PubTmp/Out/PaperTrail.Storage.dll
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PubTmp/Out/PaperTrail.Storage.pdb
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PubTmp/Out/PaperTrail.Utilities.dll
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PubTmp/Out/PaperTrail.Utilities.pdb
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PubTmp/Out/Si.CoreHub.dll
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/ref/PaperTrail.Api.dll
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/refint/PaperTrail.Api.dll
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/apphost
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PaperTrail.Api.AssemblyInfo.cs
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PaperTrail.Api.AssemblyInfoInputs.cache
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PaperTrail.Api.assets.cache
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PaperTrail.Api.csproj.AssemblyReference.cache
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PaperTrail.Api.csproj.CoreCompileInputs.cache
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PaperTrail.Api.csproj.FileListAbsolute.txt
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PaperTrail.Api.deps.json
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PaperTrail.Api.dll
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PaperTrail.Api.GeneratedMSBuildEditorConfig.editorconfig
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PaperTrail.Api.genpublishdeps.cache
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PaperTrail.Api.genruntimeconfig.cache
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PaperTrail.Api.pdb
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PaperTrail.Api.sourcelink.json
/src/backend/PaperTrail.Api/obj/Release/net8.0/linux-x64/PublishOutputs.695845def2.txt
/src/backend/PaperTrail.Api/obj/Release/net8.0/apphost.exe
/src/backend/PaperTrail.Api/obj/Release/net8.0/PaperTrail.Api.AssemblyInfo.cs
/src/backend/PaperTrail.Api/obj/Release/net8.0/PaperTrail.Api.AssemblyInfoInputs.cache
/src/backend/PaperTrail.Api/obj/Release/net8.0/PaperTrail.Api.assets.cache
/src/backend/PaperTrail.Api/obj/Release/net8.0/PaperTrail.Api.csproj.AssemblyReference.cache
/src/backend/PaperTrail.Api/obj/Release/net8.0/PaperTrail.Api.csproj.CoreCompileInputs.cache
/src/backend/PaperTrail.Api/obj/Release/net8.0/PaperTrail.Api.csproj.FileListAbsolute.txt
/src/backend/PaperTrail.Api/obj/Release/net8.0/PaperTrail.Api.dll
/src/backend/PaperTrail.Api/obj/Release/net8.0/PaperTrail.Api.GeneratedMSBuildEditorConfig.editorconfig
/src/backend/PaperTrail.Api/obj/Release/net8.0/PaperTrail.Api.genruntimeconfig.cache
/src/backend/PaperTrail.Api/obj/Release/net8.0/PaperTrail.Api.pdb
/src/backend/PaperTrail.Api/obj/Release/net8.0/PaperTrail.Api.sourcelink.json
/src/backend/PaperTrail.Api/obj/Release/net8.0/ref/PaperTrail.Api.dll
/src/backend/PaperTrail.Api/obj/Release/net8.0/refint/PaperTrail.Api.dll
/src/backend/PaperTrail.Api/Properties/PublishProfiles/FolderProfile.pubxml.user
/src/backend/PaperTrail.Api/PaperTrail.Api.csproj.user
