################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/backend/.vs
/src/backend/PaperTrail.Api/bin/Debug
/src/backend/PaperTrail.Model.Login/bin/Debug/net8.0
/src/backend/PaperTrail.Model.Login/obj
/src/backend/PaperTrail.Storage/bin/Debug/net8.0
/src/backend/PaperTrail.Storage/obj
/src/backend/PaperTrail.Utilities/bin/Debug/net8.0
/src/backend/PaperTrail.Utilities/obj
/src/backend/PaperTrail.Api/obj/Debug/net8.0/ref/PaperTrail.Api.dll
/src/backend/PaperTrail.Api/obj/Debug/net8.0/refint/PaperTrail.Api.dll
/src/backend/PaperTrail.Api/obj/Debug/net8.0/apphost.exe
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.AssemblyInfo.cs
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.AssemblyInfoInputs.cache
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.assets.cache
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.csproj.AssemblyReference.cache
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.csproj.CoreCompileInputs.cache
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.csproj.FileListAbsolute.txt
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.dll
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.GeneratedMSBuildEditorConfig.editorconfig
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.genruntimeconfig.cache
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.pdb
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.sourcelink.json
/src/backend/PaperTrail.Api/obj/PaperTrail.Api.csproj.nuget.dgspec.json
/src/backend/PaperTrail.Api/obj/PaperTrail.Api.csproj.nuget.g.props
/src/backend/PaperTrail.Api/obj/project.assets.json
/src/backend/PaperTrail.Api/obj/project.nuget.cache
/src/backend/PaperTrail.Model.Manager/bin/Debug/net8.0
/src/backend/PaperTrail.Model.Manager/obj
/src/backend/PaperTrail.Module.Blog/bin/Debug/net8.0
/src/backend/PaperTrail.Module.Blog/obj
/src/backend/PaperTrail.Api/obj/Debug/net8.0/PaperTrail.Api.MvcApplicationPartsAssemblyInfo.cs
/src/backend/PaperTrail.Module.Login/bin/Debug/net8.0
/src/backend/PaperTrail.Module.Login/obj
/src/backend/PaperTrail.Module.Bloger/bin/Debug/net8.0
/src/backend/PaperTrail.Module.Bloger/obj
/src/backend/PaperTrail.Storage/bin/Release/net8.0
/src/backend/PaperTrail.Utilities/bin/Release/net8.0
